# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Tex
paper/*.fdb_latexmk
paper/*.aux
paper/*.synctex.gz
paper/*.log
paper/*.fls
paper/*.out
paper/*.bbl
paper/*.blg
paper/main.pdf
paper/*.synctex.gz

**/*.log
**/.ever_roots_cache*
**/.ever_full_rank_cache*
pytool/benchmarks
pytool/gadgets
**/*.stdout
**/*.stderr
benchmarks/**
paper/comment.cut
